* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #ede491;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

/* Tempat semua icon */
.container {
    width: 90%;
    max-width: 1300px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 70px 70px;

    justify-items: center;
    align-items: center;
}

/* Icon utama */
.container > img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* =========================
   ICON TAMBAHAN
========================= */

/* KOIN DI ATAS TANGAN */
.coin {
    position: absolute;
    width: 90px !important;

    top: calc(50% - 275px);
    left: calc(50% - 285px);
}

/* LOKASI DI ATAS PAKET */
.loc {
    position: absolute;
    width: 90px !important;

    top: calc(50% - 280px);
    left: calc(50% + 420px);
}

/* CEKLIS DI DALAM KOTAK */
.ceklis {
    position: absolute;
    width: 90px !important;

    top: calc(50% - 120px);
    left: calc(50% - 530px);
}

/* PAKET */
.paket {
    position: absolute;
    width: 90px !important;

    top: calc(50% - 115px);
    left: calc(50% - 290px);
}

/* BULAN DI GLOBE */
.luc {
    position: absolute;
    width: 90px !important;

    top: calc(50% - 120px);
    left: calc(50% - 50px);
}

/* AIR DI BAWAH KAPAL */
.air {
    position: absolute;
    width: 90px !important;

    top: calc(50% - 115px);
    left: calc(50% + 180px);
}

/* TULISAN DI DOKUMEN */
.tulisan {
    position: absolute;
    width: 90px !important;

    top: calc(50% - 120px);
    left: calc(50% + 415px);
}
