* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background: #ede491;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}


/* CONTAINER UTAMA */

.container {
    width: min(90vw, 1200px);

    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 70px 60px;

    justify-items: center;
    align-items: center;
}


/* SETIAP KELOMPOK IKON */

.item {
    position: relative;

    width: 120px;
    height: 120px;

    display: flex;

    justify-content: center;
    align-items: center;
}


/* SEMUA GAMBAR UTAMA */

.item > img {
    width: 100px;

    height: 100px;

    object-fit: contain;
}


/* =========================
   KOIN + TANGAN
========================= */

.coin {
    position: absolute;

    width: 90px !important;
    height: 90px !important;

    top: -38px;
    left: 15px;

    z-index: 2;
}


/* =========================
   LOKASI + ICON
========================= */

.loc {
    position: absolute;

    width: 90px !important;
    height: 90px !important;

    top: -38px;
    left: 15px;

    z-index: 2;
}


/* =========================
   BOX + CEKLIS
========================= */

.ceklis {
    position: absolute;

    width: 90px !important;
    height: 90px !important;

    top: 5px;
    left: 15px;

    z-index: 2;
}


/* =========================
   COURIER + PAKET
========================= */

.paket {
    position: absolute;

    width: 90px !important;
    height: 90px !important;

    top: -5px;
    left: 15px;

    z-index: 2;
}


/* =========================
   GLOBE + BULAN
========================= */

.luc {
    position: absolute;

    width: 90px !important;
    height: 90px !important;

    top: -5px;
    left: 15px;

    z-index: 2;
}


/* =========================
   KAPAL + AIR
========================= */

.air {
    position: absolute;

    width: 90px !important;
    height: 90px !important;

    top: 15px;
    left: 15px;

    z-index: 2;
}


/* =========================
   DOKUMEN + TULISAN
========================= */

.tulisan {
    position: absolute;

    width: 90px !important;
    height: 90px !important;

    top: 5px;
    left: 15px;

    z-index: 2;
}


/* =========================
   RESPONSIVE HP
========================= */

@media (max-width: 700px) {

    .container {
        width: 95vw;

        grid-template-columns: repeat(2, 1fr);

        gap: 35px 20px;
    }

    .item {
        width: 100px;
        height: 100px;
    }

    .item > img {
        width: 85px;
        height: 85px;
    }

    .coin,
    .loc,
    .ceklis,
    .paket,
    .luc,
    .air,
    .tulisan {
        width: 75px !important;
        height: 75px !important;
    }

}
